# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/D-encryptiondll/.vs
/VT_Driver/x64
/.vs
DbgkSysWin10/x64/Debug/DbgkSysWin10.Build.CppClean.log
/DbgkSysWin10/x64
/DbgkSysWin11/x64
/Hook/Debug
/Hook/Release
/Hook/x64
/Loader/x64
/SymbolTool/Win32
/UnrealDbg/.vs
/UnrealDbg/Debug
/UnrealDbg/Hook/Debug
/UnrealDbg/Hook/Release
/UnrealDbg/Hook/x64
/UnrealDbg/Loader/x64
/UnrealDbg/UnrealDbgDll/Release
/UnrealDbg/UnrealDbgDll/x64
/UnrealDbg/Win64/Debug
/UnrealDbg/Win64/Release
/UnrealDbg/x64/Release
/UnrealDbgDll/Release
/UnrealDbg/x64/Debug
/UnrealDbgDll/x64
/x64
/DbgkSysWin10/ARM/Debug
